{% extends 'base.html' %}

{%block title%} Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Records</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
            {% if records %}
                {% for record in records %}
                <tr>
                    <th scope="row">{{ record.id }}</th>
                    <td>{{ record.first_name }}</td>
                    <td>{{ record.last_name }}</td>
                    <td>@{{ record.email }}</td>
                </tr>
                {% endfor %}
            {% endif %}
          
        </tbody>
    </table>
    
{% else %}
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>
        <br>
        <form method="POST" action="{% url 'home' %}">
            {% csrf_token %}
            <form>
                <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </form>
    </div>
{% endif %}
{% endblock  %}